.square {
    display: table-cell;
    float: left;
    margin: 0;
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: top;
    font-size: 2em;
    background:
    linear-gradient(to bottom, transparent 48%,
            #4c4c4c 48%,
            #4c4c4c 52%,
            transparent 52%),
    linear-gradient(to right, transparent 48%,
            #4c4c4c 48%,
            #4c4c4c 52%,
            transparent 52%);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.intersection {
  background-color: transparent;
  padding: 10px 10px;
  border: none;
  font-size: 20px;
}